resource "vsphere_virtual_machine" "controller" {
  provider        = vsphere.vcenter{{ count }}
  count            = (var.nsxt.controller.cluster == true ? 3 : 1)
  name             = "${split(".ova", basename(var.nsxt.aviOva))[0]}-{{ count }}"
  datastore_id      = data.vsphere_datastore.datastore{{ count }}.id
  resource_pool_id  = data.vsphere_resource_pool.pool{{ count }}.id
  folder           = data.vsphere_folder.folderController.path

  network_interface {
    network_id = data.vsphere_network.networkMgmt{{ count }}.id
  }

  num_cpus = var.nsxt.controller.cpu
  memory = var.nsxt.controller.memory
  wait_for_guest_net_timeout = var.nsxt.controller.wait_for_guest_net_timeout
  guest_id = "guestid-${split(".ova", basename(var.nsxt.aviOva))[0]}-{{ count }}"

  disk {
    size             = var.nsxt.controller.disk
    label            = "controller-${split(".ova", basename(var.nsxt.aviOva))[0]}-{{ count }}.lab_vmdk"
    thin_provisioned = true
  }
  clone {
    template_uuid = vsphere_content_library_item.avi{{ count }}.id
  }

}