provider "vsphere" {
  user                 = "{{ user }}"
  password             = "{{ password }}"
  vsphere_server       = "{{ vsphere_server }}"
  alias                = "{{ alias }}"
  allow_unverified_ssl = true
}
