replicaCount: 1
image:
  repository: projects.registry.vmware.com/ako/ako
  pullPolicy: IfNotPresent
AKOSettings:
  logLevel: "INFO"
  fullSyncFrequency: "1800"
  apiServerPort: 8080
  deleteConfig: "false"
  disableStaticRouteSync: true
  clusterName: ${tkg_cluster}
  cniPlugin: ${tkg_cni}
  layer7Only: true
  namespaceSelector:
    labelKey: ""
    labelValue: ""
NetworkSettings:
  nodeNetworkList: []
  subnetIP: ${subnetIP}
  subnetPrefix: ${subnetPrefix}
  networkName: ${networkName}
  enableRHI: false
L7Settings:
  defaultIngController: "true"
  l7ShardingScheme: "hostname"
  serviceType: ${serviceType}
  shardVSSize: "LARGE"
  passthroughShardSize: "SMALL"
L4Settings:
  advancedL4: "false"
  defaultDomain: ""
ControllerSettings:
  serviceEngineGroupName: ${tkg_cluster}
  controllerVersion: ${avi_version}
  cloudName: ${cloudName}
  controllerHost: ${controllerHost}
  tenantsPerCluster: "false"
  tenantName: "admin"
nodePortSelector:
  key: ""
  value: ""
resources:
  limits:
    cpu: 250m
    memory: 300Mi
  requests:
    cpu: 100m
    memory: 200Mi
podSecurityContext: {}
rbac:
  pspEnable: false
service:
  type: ClusterIP
  port: 80
persistentVolumeClaim: ""
mountPath: "/log"
logFile: "avi.log"