data "vsphere_datacenter" "dc{{ count }}" {
  provider = vsphere.vcenter{{ count }}
  name = "{{ dc }}"
}

data "vsphere_compute_cluster" "compute_cluster{{ count }}" {
  provider      = vsphere.vcenter{{ count }}
  name          = "{{ cluster }}"
  datacenter_id = data.vsphere_datacenter.dc{{ count }}.id
}

data "vsphere_datastore" "datastore{{ count }}" {
  provider      = vsphere.vcenter{{ count }}
  name          = "{{ datastore }}"
  datacenter_id = data.vsphere_datacenter.dc{{ count }}.id
}

data "vsphere_resource_pool" "pool{{ count }}" {
  provider      = vsphere.vcenter{{ count }}
  name          = "{{ cluster }}/Resources"
  datacenter_id = data.vsphere_datacenter.dc{{ count }}.id
}