data "vsphere_network" "networkMgmt{{ count }}" {
  provider = vsphere.vcenter{{ count }}
  depends_on = [time_sleep.wait_segment_nsxt]
  name          = var.nsxt.network_management.name
  datacenter_id = data.vsphere_datacenter.dc{{ count }}.id
}

data "vsphere_folder" "folderController" {
  provider = vsphere.vcenter{{ count }}
  path = "{{ dc }}/vm/{{ folder_avi }}"
}

resource "vsphere_content_library" "libraryAvi{{ count }}" {
  provider        = vsphere.vcenter{{ count }}
  name            = "{{ cl_avi_name }}"
  storage_backing = [data.vsphere_datastore.datastore{{ count }}.id]
}

resource "vsphere_content_library_item" "avi{{ count }}" {
  provider        = vsphere.vcenter{{ count }}
  name            = "{{ item_name_avi }}"
  library_id      = vsphere_content_library.libraryAvi{{ count }}.id
  file_url        = "{{ aviOva }}"

resource "vsphere_content_library_item" "ubuntuJump{{ count }}" {
  provider        = vsphere.vcenter{{ count }})
  name            = "{{ item_name_jump }}"
  library_id      = vsphere_content_library.libraryAvi{{ count }}.id
  file_url        = "{{ ubuntuJump }}"
}